.button {
  $b: &;
  font-family: OpenSans;
  display: block;
  font-size: 0.875em;
  border-radius: 2px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(360deg);
  &_size {
    &_m {
      width: 145px;
      font-weight: 500;
      padding: 15px 0;
    }
    &_l {
      width: 225px;
      font-weight: 600;
      padding: 20px 0;
    }
  }
  &_color {
    &_primary {
      background-color: $primary-color
    }
    &_secondary {
      background-color: #999999;
    }
    &_transparent {
      border: 1px solid #ffffff;
    }
  }
  &_shadow {
    box-shadow: 1px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  }
}
