.offcanvas {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;

  display: block;
  overflow-x: hidden;

  width: 0;
  height: 100%;

  transition: all .5s ease-in-out;

  background-color: rgba(32, 32, 32, .975);
  &__logo {
    position: relative;
    left: -250px;

    display: block;

    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 52px;

    transition: all .5s ease-in-out;
  }
  &__link {
    position: relative;
    left: -250px;

    display: block;

    padding: 12px 0;

    transition: all .5s ease-in-out;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;

    font-size: 1.5em;
    &:hover {
      color: $primary-color;
    }
  }
}
